*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Arial;

}


body{

    background:#f4f6f8;

}



.navbar{

    background:#1b5e20;

    color:white;

    padding:20px;

    display:flex;

    justify-content:space-between;

}


.navbar a{

    color:white;

    text-decoration:none;

}



.checkout-container{

    width:90%;

    margin:30px auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:30px;

}



.address-section,

.payment-section{

    background:white;

    padding:25px;

    border-radius:10px;

}



input{

    width:100%;

    padding:12px;

    margin:10px 0;

    border:1px solid #ccc;

    border-radius:5px;

}



button{

    width:100%;

    padding:14px;

    background:#1b5e20;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

    margin-top:15px;

}



button:hover{

    opacity:.9;

}


@media(max-width:768px){

    .checkout-container{

        grid-template-columns:1fr;

    }

}