*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f5f5;
}

.navbar{
    background:#2e7d32;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.container{
    width:90%;
    margin:40px auto;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    padding:25px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.card h2{
    margin-top:15px;
    color:#2e7d32;
    font-size:34px;
}

button{
    padding:10px 18px;
    border:none;
    background:white;
    color:#2e7d32;
    cursor:pointer;
    border-radius:5px;
}